#container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.key {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    border: 1px solid black;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 13px;
}

.keysarea {
    width: 1080px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}

#pressedKey {
    background-color: red;
}