#container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#form {
    border: 1px solid black;
    width: 200px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

#inputfield {
    border: none;
    width: 150px;
}

#submitButton {
    border: none;
    background-color: white;
    font-weight: bold;
    color: royalblue;
}

ul.list{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* li {
    display: inline-block;
    text-align: left;
} */

/* #containerTwo {
    margin-top: 50px;
    color: red;
    display: flex;
    justify-content: center;
} */

#clear {
    margin-left: 420px;
    height: 25px;
    background-color: white;
    color: red;
    border: none;
    font-weight: bold;
}