body {
    background-color: rgb(239, 239, 239);
}

a:link {
    text-decoration: none;
    /* color: rgb(182, 182, 182) ; */
}
a:visited {
    text-decoration: none;
    color: rgb(182, 182, 182) ;
  }
.navbarcontainer {
    background-color: rgb(255, 255, 255);
}
.navbar {
    /* border: 2px solid salmon; */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 950px);
    margin-left: -150px;

}
.navulone {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 200px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 100px) ;
    justify-content: flex-start;
}
.navultwo{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 120px) ;
    justify-content: flex-end;
    /* justify-content: space-between; */
}
.navli{
    list-style: none;
    /* margin-left: -40px; */
    text-transform: capitalize;
    padding: 5px;
    display: flex;
    /* border: 3px solid palegreen */
}
.navlione {

}
.logo {
    font-size: 14px;
}
.navlitwo{
    /* width: 100px; */
    background-color: lightblue;
}

.navlitwoone {
    margin-left: 50px;
}
.navlitwofour {
    margin-left: -80px;
    border: 2px solid blue;
    border-radius: 6px;
    color: royalblue;
}



.topdiv {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#region {
    border: 2px solid rgb(146, 146, 243);
    border-radius: 5px;
    width: 120px;
}
.middlespacediv{
    margin: 50px;
}
.bottomdiv {
    display:grid;
    grid-template-columns: repeat(3, 400px);
    gap: 50px;
    justify-content: center;
    /* border: 2px solid aqua; */
}

.card {
    /* border: 1px solid royalblue; */
    border-radius: 7px;
    background-color: white;
    width: 300px;
}
.mostpopular {
    text-transform: uppercase;
    text-align: center;
    height: 20px;
    margin-top: -37px;
    background-color: rgb(150, 150, 222);
    color: white;
    /* border: 2px solid salmon; */
    border-radius: 7px 7px 0 0;
}

.topcarddiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.acctype {
    text-transform: uppercase;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 753;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.touch {
    text-transform: uppercase;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 753;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 30px;
}
.trial {
    text-transform: uppercase;
    color: white;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 753;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: rgb(107, 240, 107);
    width: 250px;
    border-radius: 4px;
    height: 25px;
    align-content: center;
}

.bottomcarddiv {
    display: flex;
    flex-direction: column;
    background-color: rgb(118, 118, 172);
    color: white;
    height: 400px;
}
.featuresh {
    align-self: flex-start;
    padding: 7px;
}
.featurelist {
    list-style-type: none;
    align-self: flex-start;

    margin-top: -10px;
}
li {
    justify-self: flex-start;
    margin-left: -30px;
}

.smallfooter {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
    bottom: 0;
    right: 25px;
    border-radius: 7px 7px 0 0;
    width: 320px;
    height: 55px;
    background-color: blue;
    text-align: center;
}
.footerp{
    color: white;
    margin-bottom: 15px;
}