#container {
    display: grid;
    grid-template-columns: 25% 75%;
}

#colorarea {

    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px,2fr));
}
#blankarea{

    border: 2px solid purple;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px,1fr));

}

.square {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

.colorsquare {
    width: 30px;
    height: 60px;
    border: 1px solid black;
}